body{
	width: 100%;
	background-color: #dbedf0;
}


.wrapper{
	width: 980px;
	display: flex;
	justify-content: space-around;
	margin: 10px auto 10px auto;
}

.sidearea{
	width: 260px;
	margin-left: 5px;
}

.user{
	width: 240px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.img1{
	width: 220px;
	height: 220px;
	margin-top: 45px;
}

.user2{
	width: 200px;
	padding-left: 10px;
	line-height: 10px;
}

.name{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #888888;
	font-weight: bold;
	font-size: 22px
}

.logout{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-weight: bold;
	border-width: 0 0 0 4px;
	border-style: solid;
	border-color: #3b82c4;
}


.mainarea{
	display: flex;
	flex-direction: column;
	width: 700px;
	margin-right: 5px;
}

.message1{
	width: 650px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.message2{
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-color: #888888;
}

.img2{
	width: 70px;
	height: 70px;
	padding: 5px 5px 5px 5px;
}

.message3{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	line-height: 1px;
}

.message4{
	display: flex;
	justify-content: flex-start;
}

.nickname2{
	font-weight: bold;
	font-size: 17px;
	margin-right: 5px;
	margin-bottom: 7px;
}

.message5{
	display: flex;
	justify-content: flex-start;
	font-size: 5px;
	color: #888888;
}

.time{
	margin-right: 3px;
}

.paging{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

a{
	text-decoration: none;
  color: inherit;
}

.table{
	text-align:center;
	width: 700px;
	margin: 40px auto 40px auto;
	font-size: 15px;
}


.table th{
	border-style: solid;
	border-width: thin;
	border-color: #ffffff;
	background-color: #888888;
	color: #ffffff;
	padding: 5px;
}

.table td{
	border-style: solid;
	border-width: thin;
	border-color: #ffffff;
	background-color: #dddddd;
}
